 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito&display=swap');

 html, body{
    overflow-x: hidden;
 }
.navigationBar{
    background-color: #212121;
    padding:36px;
    width: 90%;
    display: flex;
    flex-flow: row;
    flex:wrap;
    align-items: center;
    justify-content: center;
    gap:80px;
    position: fixed;    
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

ul{
    display: block;
    margin: auto;
    padding: 0px;
}
ul li{
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;
}
li a{
    text-decoration: none;
    color:white;
    font-family: 'montserrat','sans-serif';
    font-size: 18px;
    letter-spacing: .88;
}

.logo{
    display: block;
    height: 30px;
    margin: auto;
    
}
.btnBox2{
    display: none;
}
.btnSignup,.btnLogin{
    display: inline-block;
    border-radius: 50px;
    min-width: 100px;
    border: none;
    padding: 5px 15px 5px 20px;
    font-size: 16px;
}
.btnSignup{
    background-color: #E83344;
    color: white;
}

.btnLang,.btnLang >img{
    text-decoration: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}
.btnJoin{
    background-color: #E83344;
    color: white;
    border-radius: 50px;
    min-width: 100px;
    border: none;
    padding: 5px 45px 5px 45px;
    font-size: 26px;
    font-weight: 600;
    display: block;
    margin-left: 200px;
    box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.20) inset, 0px 7px 13px -3px rgba(0, 0, 0, 0.30), 0px 2px 4px 0px rgba(0, 0, 0, 0.40);
}
.banner{
    padding-top: 220px;
    padding-left:100px;
    padding-bottom:180px;
}
.bannertext>h1{
    color: #212121;
    font-family: Righteous;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 110.511%; /* 70.727px */
    letter-spacing: -0.88px;
}
.bannertext>h1>span{
    color: #E83344;
}
.bannertext>p{
    margin: 25px 0 25px 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.88px;
    max-width: 700px;
    
}

.contentContainer{
    background-color: #E83344;
    padding: 10px 20px 20px 10px;
    
}
.contentContainer>div>h1{
    color: white;
    font-family: 'nunito','sans-serif';
    width: 750px;
    padding:  20px 0 20px;
    display: block;
    margin: auto;
    
}
.contentP{
    color: #FFF;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px; /* 162.5% */
    letter-spacing: -1.04px;
    padding: 80px;
    padding-top: 5px;
}
.bannerImgContainer{
    padding-bottom: 50px;
}
.img1{
    max-height: 450px;
    max-width: 450px;
    padding-right:20px;
}
.img2{
    height: 250px;
    width: 250px;
        margin-top:-180px
}
.img3{
    display: block;
    height: 300px;
    width: 100%;
    background-color: #212121;
    
}




@media screen and (max-width: 1061px){
    .navigationBar{
        background-color: #212121;
        padding:10px;
        width: 100%;
        position: fixed;   
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        display: block;

    }
    .logoBox{
        float: left;
    }
    .langBox,.btnBox{
        display: none;
    }
    .btnBox2{
        display: block;
        position: fixed;
        bottom: 0;
        left:0;
        background-color: #212121;
        width: 100%;
        padding: 20px;
    }
    ul li{
        display:none;
    }
   
    .btnJoin{
        background-color: #E83344;
        color: white;
        border-radius: 50px;
        min-width: 100px;
        border: none;
        padding: 5px 45px 5px 45px;
        font-size: 26px;
        font-weight: 600;
        display: block;
        margin: auto;
    }
    .banner{
        padding-top: 80px;
        padding-left:10px;
        padding-bottom: 0;
    }
    .bannerImgContainer{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        padding-bottom: 50px;

    }
    .img1{
        height: 200px !important;
        width: 200px !important;
        margin: auto;
        margin-left: -70px;
        padding: 0;
    }
    .img2{
        height: 120px;
        width: 120px;
        margin: auto;
        margin-top: 10px;
    }
    .contentContainer>div>h1{
        display: flex;
    }
    .contentP{
        padding: 0;
    }
    
}
