@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Nunito:wght@400;900&display=swap');

  body{
    overflow-x: hidden;
    background-color: #f6f0f0;
 }
.navigationBar{
    background-color: #212121;
    padding:36px;
    width: 90%;
    display: flex;
    flex-flow: row;
    flex:wrap;
    align-items: center;
    justify-content: center;
    gap:80px;
    position: fixed;    
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 10;
}

ul{
    display: block;
    margin: auto;
    padding: 0px;
}
ul li{
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;
}
li a{
    text-decoration: none;
    color:white;
    font-family: 'montserrat','sans-serif';
    font-size: 18px;
    letter-spacing: .88;
    
}
a{
    position: relative;
}


nav>ul>li> a::after{
    content:"";
    height:2px;
    width: 0;
    background-color:#be2b39;
    position: absolute;
    left: 0;
    transform: translatex(100%);
    bottom: 0;
    transition: .3s ease-in-out;
}
nav>ul>li> a:hover::after{
    content:"";
    height:2px;
    width: 100%;
    background-color:#be2b39;
    position: absolute;
    left: 0;
    transform: none;
    bottom: 0;
    transition: .3s ease-in-out;
}
nav>ul>li> a:hover::before{
    content:"";
    height:2px;
    width:0;
    background-color:#be2b39;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    bottom: 0;
    transition: .3s ease-in-out;
}
.logoBox{
    display: flex;
}
.logo{
    display: block;
    height: 30px;
    width: auto;
    margin: auto;
   
    
}
.btnBox2,.navMobile,.burgerMenu{
    display: none;
}
.btnSignup,.btnLogin{
    display: inline-block;
    border-radius: 50px;
    min-width: 100px;
    border: none;
    padding: 5px 15px 5px 20px;
    font-size: 16px;
}
.btnSignup{
    background-color: #E83344;
    color: white;
}

.btnLang,.btnLang >img{
    text-decoration: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}
.btnJoin{

    background-color: #E83344;
    color: white;
    border-radius: 50px;
    min-width: 100px;
    border: none;
    padding: 5px 45px 5px 45px;
    font-size: 26px;
    font-weight: 600;   
    display: block;
    margin-left: 200px;
    margin-top: 20px;
    box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.20) inset, 0px 7px 13px -3px rgba(0, 0, 0, 0.30), 0px 2px 4px 0px rgba(0, 0, 0, 0.40);
    &:active{
        filter: drop-shadow(0px 4px 16px rgba(90, 125, 188, 0.05)) drop-shadow(0px 0px 4px rgba(67, 71, 85, 0.27));
        box-shadow: none;
    }
}
.btnJoin2{
    background-color: #E83344;
    color: white;
    border-radius: 50px;
    min-width: 100px;
    border: none;
    padding: 5px 45px 5px 45px;
    font-size: 26px;
    font-weight: 600;
    display: block;
    margin: auto;
    box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.20) inset, 0px 7px 13px -3px rgba(0, 0, 0, 0.30), 0px 2px 4px 0px rgba(0, 0, 0, 0.40);
    &:active{
        filter: drop-shadow(0px 4px 16px rgba(90, 125, 188, 0.05)) drop-shadow(0px 0px 4px rgba(67, 71, 85, 0.27));
        box-shadow: none;
    }
}
.banner{
    padding-top: 220px;
    padding-left:100px;
    padding-bottom:85px;
}
.bannertext>h1{
    color: #212121;
    font-family: Righteous;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 110.511%; /* 70.727px */
    letter-spacing: -0.88px;
}
.bannertext>h1>span{
    color: #E83344;
}
.bannertext>p{
    margin: 25px 0 25px 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.88px;
    max-width: 700px;
    
}

.contentContainer{
    background-color: #E83344;
    padding: 10px 20px 20px 10px;
    
}
.contentContainer>div>h2{
    color: white;
    font-family: 'nunito','sans-serif';
    width: 750px;
    padding:  30px 10px 20px 0;
    display: block;
    margin-left: 75px;
    
}
.contentP{
    color: #FFF;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px; /* 162.5% */
    letter-spacing: -1.04px;
    padding: 0 80px 5px 80px; 
}
.bannerImgContainer{
    padding-bottom: 50px;
}
.img1{
    max-height: 450px;
    max-width: 450px;
    padding-right:20px;
}
.img2{
    height: 100%;
    width: 250px;
        margin-top:-180px
}
.img3{
    display: block;
    height: 300px;
    width: 100%;
    background-color: #212121;
    
}

.ambassadorContainer{
    padding-top: 80px;
    padding-left: 80px;
    padding-right:80px;
   
}
.txtContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 100%; 
}
.miaImg,.miaImg2{
    width: 100%;
    height: auto;
}
.miaImg2{
    padding-left: 300px;
}
.revh1black{
    color: black;
    text-align: left;
    font-family: 'Nunito',sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight:500;
    line-height: 42px; /* 65.625% */
    letter-spacing: 0px !important;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        height: 140%;
        width: 8px;
        margin-top: -10px;
        background: #E83344;

    }
}
.revpBlack{
    color: black;
    font-family: Nunito;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 175% */
    margin-top: 40px;
}
.affiCardsContainer{
    display: flex;
    align-items: center;
    align-content: center;
    padding-top: 0;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 160px;
}
.card1,.card2{
    display: block;
    max-width: 720px;
    height: 500px;
    background-color:#EDE5E5;
    margin: auto;
    position: relative;
    border:1px solid #E83344;
    border-radius:50px;
    &::after{
        content: "";
        max-width: 733px;
        height: 510px;
        position: absolute;
        background-color: #EE3945;
        border-radius:50px;
        top: 0;
        left: 0;
        right: -15px;
        z-index: -1;
    }
}


.card1>img,.card2>img{
    height: 150px;
    position: absolute;
    right: -40px;
    top: -65px;
}
.card2{
    margin-top: 40%;
}
.h1Afiliates{
    padding-top: 80px;
    padding-left: 35px;
    font-family: 'nunito',sans-serif;
    font-weight:600;
    position: relative;
    width: fit-content;

    &::before{
        content: "";
        position: absolute;
        height: 41%;
        width: 8px;
        margin-top: -4px;
        margin-left: -15px;
        background: #E83344;

    }
}
.cardp{
    color: #363636;
    font-family: 'poppins',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.5px;
    width: 600px;
    padding-top: 20px;
    padding-left: 25px;
    
}
.cardLink{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #EE3945;
    font-family: 'Nunito',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 180% */
    letter-spacing: -1.16px;
    margin-top: 45px;
}
.revenueContent{
    background: linear-gradient(180deg, #000 17.64%, #161515 42.44%, #EE3945 94.51%);
    padding: 80px 120px 0 120px;
    position: relative;
    
}
.rocket{
    position: absolute;
    top: -200px;
    height: 300px;
    width: auto;
    animation: rocketAnim 3s infinite;
}
@keyframes rocketAnim{
    0% {transform: translateY(20px);}
    50%{transform: translateY(-20px);}
    100%{transform: translateY(20px);}
}
.revImg{
    display: block;
    margin: auto;
    padding: 0;
    height: auto;
    width: 100%;
    margin-top: -80px;
}
.revh1{
    color: #FFF;
    text-align: left;
    font-family: 'Nunito',sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight:500;
    line-height: 42px; /* 65.625% */
    letter-spacing: 0px !important;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        height: 140%;
        width: 8px;
        margin-top: -10px;
        background: #E83344;

    }
}
.revp{
    color: #FFF;
    font-family: Nunito;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 175% */
    margin-top: 60px;
}
.rabbit{
    margin-top: -40px;
    padding-left: 25%;
    height: 750px;
    display: block;
    position: relative;

}

.parceiro{
    display: block;
    height: 500px;
    width: 550px;
    border-radius: 50px;
    border: 1px solid #D5D5D5;
    background: #FFF;
    margin: auto;
    margin-top: 100px;
    padding: 40px;
    position: relative;
    &::after{
        content: "";
        top: 0;
        left: 0;
        height:505px;
        width: 560px;
        border-radius: 50px;
        border: 1px solid #D5D5D5;
        background: #C6C6C6;
        position: absolute;
        z-index: -1;
    }
}
.parceiro>h4{
    color: #212121;
    font-family: Nunito;
    font-size: 39px;
    font-style: normal;
    font-weight: 800;
    line-height: 39px; /* 100% */
    letter-spacing: -1.28px;
}
.parceiro>ul>li{
    display: block !important;
    position: relative;
    color: #212121;
    font-family: Nunito;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px; /* 169.565% */
    letter-spacing: -1.04px;
    padding-top: 40px;
    padding-left:40px;

    &::before{
        content: "";
        background-image: url('img/check.svg');
        background-size:contain ;
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
        display: block;
        position: absolute;
        bottom: 2px;
        left: 0;

    }
    
}
.imgtempo{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 25px;
    
}
.revContent3{
    padding-top: 60px;
    padding-left:80px;
    padding-right:80px;
    background: linear-gradient(180deg, #000 17.64%, #161515 42.44%, #EE3945 94.51%);
}
.rowContent{
    padding-bottom: 80px;
}
.tempoh1{
    color: #FFF;
    text-align: right;
    font-family: Nunito;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 65.625% */
    position: relative;
    &::after{
        content: "";
        position: absolute;
        height: 60px;
        width: 8px;
        margin-top: -10px;
        right: -20px;
        top: 0;
        background: #E83344;
    }  
}
.tempoh1b{
    color: #FFF;
    text-align: left;
    font-family: Nunito;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 65.625% */
    position: relative;
    &::before{
        content: "";
        position: absolute;
        height: 60px;
        width: 8px;
        margin-top: -10px;
        left: -20px;
        top: 0;
        background: #E83344;
    }  
}
.tempop{
    color: #FFF;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    padding-top: 30px;
    text-align: right;
}
.tempopb{
    color: #FFF;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    padding-top: 30px;
    text-align: left;
}
.pix{
    display: block;
    margin: auto;
    padding-top: 40px;
    height: auto;
    width: 100%;
    margin-bottom: 80px;
    padding-left:420px;
    padding-right:420px ;
}
.tigre{
    display: block;
    margin: auto;
    margin-right:150px;
    
}
.mailForm{
    display: block;
    margin: auto;
    margin-left: 80px;
    
}
.formContainer{
    display: block;
    width:auto;
    
}
.mailForm>h2{
    color: #000;
    font-family: Nunito;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; /* 65.625% */
    position: relative;
    margin-bottom:15px;
    &::before{
        content: "";
        position: absolute;
        height: 60px;
        width: 8px;
        margin-top: -10px;
        left: -10px;
        top: 0;
        background: #E83344;
    }  
}
.inputContainer{
    display: flex;  
   
}
.inputBox{
    display: inline-block;
    width:333px;
    height: 53.437px;
    border-radius: 22px;
    border: 1px solid #C6C6C6;
    background: #FFF;
    margin-right: 10px;
    margin-bottom: 10px;

   
   
    
}
.inputMessage{
    display: block;
    width: 675px;
    height: 336px;
    border-radius: 7px;
    border: 1px solid #C6C6C6;
    background: #FFF;

    &::placeholder{
       position: absolute;
       top: 0;
       padding-top: 15px;
        
    }
}
.submit{
    display: block;
    margin-top: 15px;
    background-color: #E83344;
    color: white;
    border-radius: 50px;
    min-width: 200px;
    border: none;
    padding: 5px 45px 5px 45px;
    font-size: 26px;
    font-weight: 600;
    box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.20) inset, 0px 7px 13px -3px rgba(0, 0, 0, 0.30), 0px 2px 4px 0px rgba(0, 0, 0, 0.40);
    &:active{
        filter: drop-shadow(0px 4px 16px rgba(90, 125, 188, 0.05)) drop-shadow(0px 0px 4px rgba(67, 71, 85, 0.27));
        box-shadow: none;
    }
}
footer{
    background-color:#000;
    padding: 15px 100px;
}
.footerP{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.icons .icons>img{
    display: inline-block;
}
.icons{
    padding-left: 140px;
}



/* accordion css */

.revContent4{
    padding-left: 180px;
    padding-top: 260px;
    padding-bottom: 260px;
    padding-right: 180px;
}
.tab{
    background-color:#d9d9d9 ;
    border-radius: 18px;
    margin-bottom: 10px;
}
.tabHead{   
    padding: 30px;
    position: relative;
    cursor: pointer;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    transition: max-height 0.2s ease-out;
    
    &::after{
        content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    top: 0;
    right: 0;
    margin-left: 5px;
    padding: 30px;
    position: absolute;
    }
}
.active{
    background-color: #c7c7c7;
    border-radius: 18px;
}
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
.tabHead>p{
    text-align: left;
  
    
}
.tabContent{
    padding: 0 30px;   
    max-height: 0;
    overflow: scroll;
    transition: max-height 0.2s ease-out;
    &::-webkit-scrollbar{
        display: none;
    }   
}
.toggleBtn{
    height:30px;
    width: 30px;
    border-style: none;
    background-image: url("img/arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    right: 50px;
    top: 25px;

}
.FAQH1{
    color: #212121;
    text-align: center;
    font-family: Nunito;
    font-size: 59px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px; /* 135.593% */
    letter-spacing: -3.32px;
}
.collabimg{
    left: 0 !important;
    margin-top:200px;
    margin-left: 80px ;
    position: absolute;
}


@media screen and (max-width: 1063px){
    h1{
        font-size: 40px !important;
        width: 100% !important;
    }
    .navigationBar{
        background-color: #212121;
        padding:10px;
        width: 100%;
        position: fixed;   
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        display: block;
        z-index: 10;
    }
    .mobileUI{
        z-index: 10 !important;
        position: relative;
    }
    .logoBox{
        float: left;
    }
    .langBox,.btnBox{
        display: none;
    }
    .btnBox2{
        display: block;
        position: fixed;
        bottom: 0;
        left:0;
        background-color: #212121;
        width: 100%;
        padding: 20px;
        
    }
    .navMobile{
        display: block;
        background-color: #212121;
        position: fixed;
        height: 0;
        overflow: none;
        width: 100%;
        margin-top: 50px;
        z-index: 11 !important;
        transform: translateY(-200px);
        transition: .3s ease-in;
        
    }
    .navMobile>ul li{
        display: block;
        margin: auto;
        
    }
    .link>a{
        display: block;
        text-align: center;
    }
    .burgerMenu{
        display: block;
        position: absolute;
        right: 2px;
        background-image: url('img/burger-menu.png');
        background-size: contain;
        background-color: transparent;
        height: 30px;
        width: 30px;
        border: none;
    }
    ul li{
        display:none;
    }
   
    .btnJoin{
        background-color: #E83344;
        color: white;
        border-radius: 50px;
        min-width: 100px;
        border: none;
        padding: 5px 45px 5px 45px;
        font-size: 26px;
        font-weight: 600;
        display: block;
        margin: auto;
        margin-top: 30px;
       

       
        
    }
    .btnJoin:hover,.btnJoin2:hover{
       
            background-color: #be2b39;
            transition-duration: .3s;
       
    }
    .banner{
        padding-top: 80px;
        padding-left:10px;
        padding-bottom: 0;
        flex-direction: column-reverse;
    }
    .bannerImgContainer{
        display: block;
        margin: auto;
        width: fit-content;

    }
    .img1{
        height: 200px !important;
        width: 200px !important;
        margin: auto;
        padding: 2px;
    }
    .img2{
        height: 100%;
        width: 120px;
        margin: auto;
        margin-top: -80px;

       
    }
    .contentContainer>div>h1{
        display: block;
        margin-left:0 ;
    }
    .contentP{
        padding: 0;
    }
    .affiCardsContainer{
        display: block;
       
        align-items: center;
        align-content: center;
        padding-bottom: 0 !important;
        padding-left: 20px !important;
        padding-right: 020px !important;
    }
    .card1,.card2{
        display: block;
        width: 100% !important;
        border-radius: 50px;
        height: auto;
        padding-bottom: 20px !important;
        background-color:#EDE5E5;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 50px;
        position: relative;
        border-radius:50px;
        &::after{
            content: "";
            width: 103% !important;
            height: 102% !important;
            position: absolute;
            background-color: #EE3945;
            border-radius:50px;
            top: -2px;
            left: -2px;
            z-index: -1;
        }
    }
    
    
    .card1>img,.card2>img{
        height: 80px;
        position: absolute;
        right: 20px;
        transform: translateX(50%);
        top: -30px;
    }
    .card2{
        margin-top: 50px;
        margin-bottom: 60px;
    }
    .h1Afiliates{
        padding-top: 20px;
        padding-left: 35px;
        font-family: 'nunito',sans-serif;
        font-weight:600;
        position: relative;
        width: fit-content;
        font-size: 30px !important; 
    
        &::before{
            content: "";
            position: absolute;
            height: 30px;
            width: 4px;
            margin-top: -7px;
            margin-left: -10px;
            background: #E83344;
            bottom: 0;
    
        }
    }
    .cardp{
        color: #363636;
        font-family: 'poppins',sans-serif;
        font-size:18px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        width: auto !important;
        padding-top: 20px;
        padding-left:20px;
        padding-right: 10px;
        
    }
    .cardLink{
        display: block;
        text-align: center;
        text-decoration: none;
        color: #EE3945;
        font-family: 'Nunito',sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px; /* 180% */
        letter-spacing: -1.16px;
        margin-top: 45px;
    }
    .revenueContent{
        background: linear-gradient(180deg, #000 17.64%, #161515 42.44%, #EE3945 94.51%);
        padding: 0;
        position: relative;
        z-index: 0;
    }
    .rocket{
        position: absolute;
        top: -140px;
        height: 300px;
        width: auto;
    }
    .revImg{
        display: block;
        margin: auto;
        padding: 0;
        height: auto;
        width: 100%;
        
    }
    .revh1{
        margin-top: 120px;
        color: #FFF;
        text-align: left;
        font-family: 'Nunito',sans-serif;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: 42px; /* 65.625% */
        letter-spacing: -3.32px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            height: 140%;
            width: 8px;
            margin-top: -10px;
            background: #E83344;
    
        }
    }
    .revp{
        color: #FFF;
        font-family: Nunito;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 42px; /* 175% */
        margin-top: 60px;
    }

    .revenueContent2{
        padding: 0;
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .rabbit{
        position:initial;
        display: block;
        margin: auto;
        padding: 0;
        height: 400px !important;
        
    }
    .parceiro{
       width: 100%;
       height: 100%;
       margin: auto;
       &::after{
        width: 102%;
        height: 102%;
       }
    }
 
    .revContent3{
        padding-top: 60px;
        padding-left:80px;
        padding-right:80px;
        background: linear-gradient(180deg, #000 17.64%, #161515 42.44%, #EE3945 94.51%);
    }
    .rowContent{
        padding-bottom: 80px;
    }
    .revContent3{
        padding: 15px;
    }
    .imgtempo{
        height: auto;
        width: 100%;
    }
    .tempoh1{
        color: #FFF;
        text-align: left;
        font-family: Nunito;
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: 42px; /* 65.625% */
        position: relative;
        &::after{
            content: "";
            position: absolute;
            height: 60px;
            width: 8px;
            margin-top: -10px;
            left: -20px;
            top: 0;
            background: #E83344;
        }  
    }
    .tempoh1b{
        color: #FFF;
        text-align: left;
        font-family: Nunito;
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: 42px; /* 65.625% */
        position: relative;
        &::before{
            content: "";
            position: absolute;
            height: 60px;
            width: 8px;
            margin-top: -10px;
            left: -20px;
            top: 0;
            background: #E83344;
        }  
    }
    .rowContent{
        margin: 0;
        padding: 0;
    }
    .tempop{
        color: #FFF;
        font-family: Nunito;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        padding-top: 5px;
        text-align: left;
    }
    .tempopb{
        color: #FFF;
        font-family: Nunito;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        padding-top: 5px;
        text-align: left;
    }
    .revContent4>div>img{
        height: auto;
        width: 100%;
        display: block;
        margin: auto;
    }
    .pix{
        display: block;
        margin: auto;
        padding-top: 40px;
        height: auto;
        width: 100%;
        margin-bottom: 80px;
        padding-left:20px;
        padding-right:20px ;
    }
    .tigre{
        display: block;
        margin: auto;
        height: 200px;
        
    }
    .mailForm{
        display: block;
        margin: auto;
        margin-left: 0;
        
    }
    .formContainer{
        display: block;
        width:100%;
        padding: 0;
    }
    .mailForm>h1{
        color: #000;
        font-family: Nunito;
        font-size: 64px;
        font-style: normal;
        font-weight: 500;
        line-height: 42px; /* 65.625% */
        position: relative;
        &::before{
            content: "";
            position: absolute;
            height: 60px;
            width: 8px;
            margin-top: -10px;
            left: -10px;
            top: 0;
            background: #E83344;
        }  
    }
    .inputContainer{
        display: block;      
        
    }
    .inputBox{
        display: inline-block;
        width: 100%;
        height: 53.437px;
        border-radius: 22px;
        border: 1px solid #C6C6C6;
        background: #FFF;
        margin: 0;
        margin-bottom: 5px !important;
       
        
    }
    .inputMessage{
        display: block;
        margin: auto;
        width: 100%;
        height: 320.624px;
        border-radius: 7px;
        border: 1px solid #C6C6C6;
        background: #FFF;
    }
    .submit{
        display: block;
        margin-top: 15px;
        margin-left: 25px;
        background-color: #E83344;
        color: white;
        border-radius: 50px;
        min-width: 100px;
        border: none;
        padding: 5px 45px 5px 45px;
        font-size: 26px;
        font-weight: 600;
        &:active{
            filter: drop-shadow(0px 4px 16px rgba(90, 125, 188, 0.05)) drop-shadow(0px 0px 4px rgba(67, 71, 85, 0.27));
            box-shadow: none;
        }
    }
    footer{
        background-color:#000;
        padding: 15px 100px;
    }
    .footerP{
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .icons .icons>img{
        display: inline-block;
    }
    .icons{
        padding-left: 140px;
    }
    .revContent4{
        padding-left: 5px;
        padding-top: 60px;
        padding-right: 5px;
        padding-bottom: 40px;
    }

    .bannertext{
        margin-bottom:50px;

    }
    .bannertext>h1{
        text-align: center;
        font-size:40px !important;
       
    }
    .bannertext>p{
        text-align: center; 
        font-size:16px !important;
        font-family: montserrat;
        font-weight:500;
        margin: auto;
       
    }
    .ambassadorContainer{
        padding: 0;
        position: relative;
    }
    .miaImg{
        padding-left:40px ;
        padding-right: 40px ;
    }
    .miaImg2{
        padding-left: 200px;
    }
    .contentContainer>div>h1{
        font-size:20px;
        text-align: center;
        padding: 0;
        margin: ;
    }
    .contentContainer>div{
        padding: 0;
    }
    .contentP{
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;       
        font-size:16px;
        text-align: center;
        line-height: 18px;
    }
    .revh1black{
        font-size: 30px !important;
        padding-left:10px;
        padding-top: 15px;
        font-weight: 600;
        &::before{
            height: 40px;
            width: 5px ;
            bottom: 0;
            left: 0;
            margin-bottom:3px;
            margin-left: 5px;
        }
    }
    .revpBlack{
        font-size: 16px;
        font-family: nunito;
        line-height: 15px;
        padding-left: 10px;
        padding-right: 15px;
        margin-top: 0;
    }
    .collabimg{
        width: 200px;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        margin-top: 0;
        margin-left: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
    }
}
    


